body {
    background-color: rgb(147, 180, 165);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.container {
    background-color: rgb(147, 180, 165); 
    padding: 20px;
    border-radius: 10px;
    max-width: 1800px;
    }