body {
    background-color:slateblue;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }

.container {
    background-color:slateblue; /* Light background to make text readable */
    padding: 20px;
    border-radius: 10px;
    max-width: 1800px;
    }